body {
  margin: 0;
}

.content {
  display: grid;
  grid-template: 15vh 70vh 15vh / 1fr 1fr 1fr;
}

.content > div {
  padding: 20px;
}

.header {
  background-color: lightcoral;
  grid-column-end: span 3;
  display: flex;
  justify-content: space-between;
}

.header > div {
  padding: 20px;
}

.logo {
  background-color: red;
}

.navigation {
  background-color: orange;
}

.sidebar {
  background-color: lightsalmon;
}

.main {
  background-color: lightblue;
  grid-column-end: span 2;
}

.footer {
  background-color: lightgreen;
  grid-column-end: span 3;
}
